.*
*.log
Thumbs.db

dist/
build/
node_modules/

!.git*
!.babelrc
!.eslint*
!.yo-rc.json
!.editorconfig

#ignore the non-final assets so they do not clog up the git history. Save these somewhere else
static/assets/imgs/*
static/assets/spritesheets/*
#do not ignore the json or fonts, that's not a big deal
