.*
*.log
Thumbs.db

dist/
build/
node_modules/

!.git*
!.babelrc
!.eslint*
!.yo-rc.json
!.editorconfig

#ignore some of the non-final images so they do not clog up the git history
static/assets/imgs/background.png
