.*
*.log
Thumbs.db

dist/
build/
node_modules/

!.git*
!.babelrc
!.eslint*
!.yo-rc.json
!.editorconfig

#ignore the non-final binary so they do not clog up the git history. Save backups somewhere else
static/assets/imgs/spritesheet.json
static/assets/imgs/spritesheet.png
static/assets/imgs/background.png
static/assets/imgs/starfield.png
static/assets/imgs/starfield2.png
